# HOPUS

HOPUS (**HO**using **P**ricing **U**tilitie**S**) contains a variety of routines used to predict real estate prices.

This notebook highlights what HOPUS can do, namely
- clean the raw data,
- perform exploratory analysis of the data,
- train a variety of models for the prediction of real estate prices, and
- evaluate the performance of these models.

## Technical preliminaries

In [1]:
# We clone the HOPUS repository to have access to all its data and routines
!git clone https://github.com/aremondtiedrez/hopus.git
%cd hopus

Cloning into 'hopus'...
remote: Enumerating objects: 225, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 225 (delta 10), reused 16 (delta 5), pack-reused 204 (from 1)
Receiving objects: 100% (225/225), 740.29 KiB | 5.48 MiB/s, done.
Resolving deltas: 100% (119/119), done.
/content/hopus

In [2]:
# Import requisite modules from HOPUS
import preprocessing

## Data cleaning

In [3]:
hpi = preprocessing.home_price_index.load()
preprocessing.home_price_index.preprocess(hpi)

listings_data = preprocessing.property_listings.load()
listings_data = preprocessing.property_listings.preprocess(listings_data, hpi)

preprocessing.property_listings.drop_outliers(listings_data)
preprocessing.property_listings.drop_missing_key_features(listings_data)

listings_data

,id,formattedAddress,addressLine1,addressLine2,city,state,stateFips,zipCode,county,countyFips,...,saleMonth,saleYear,trueValueHomePriceIndex,availableValueHomePriceIndex,trueMinusAvailableHomePriceIndex,monthAvgTrueMinusAvailableHomePriceIndex,predictedValueHomePriceIndex,pricePerSqFt,timeNormalizedPricePerSqFt,logPrice
0,"136-S-Hancock-St,-Madison,-WI-53703","136 S Hancock St, Madison, WI 53703",136 S Hancock St,None,Madison,WI,55,53703,Dane,25.0,...,12,2022,294.220,300.326,-6.106,-0.247974,300.078026,291.313559,0.990122,13.217674
1,"304-S-Baldwin-St,-Madison,-WI-53703","304 S Baldwin St, Madison, WI 53703",304 S Baldwin St,None,Madison,WI,55,53703,Dane,25.0,...,1,2023,292.712,298.542,-5.830,-0.228921,298.313079,322.189922,1.100706,13.407542
2,"223-N-Baldwin-St,-Madison,-WI-53703","223 N Baldwin St, Madison, WI 53703",223 N Baldwin St,None,Madison,WI,55,53703,Dane,25.0,...,1,2023,292.712,298.542,-5.830,-0.228921,298.313079,240.167919,0.820492,13.205785
3,"1317-E-Johnson-St,-Madison,-WI-53703","1317 E Johnson St, Madison, WI 53703",1317 E Johnson St,None,Madison,WI,55,53703,Dane,25.0,...,2,2023,293.507,296.727,-3.220,0.273500,297.000500,320.062451,1.090476,12.923912
4,"1151-E-Johnson-St,-Madison,-WI-53703","1151 E Johnson St, Madison, WI 53703",1151 E Johnson St,None,Madison,WI,55,53703,Dane,25.0,...,2,2023,293.507,296.727,-3.220,0.273500,297.000500,216.216216,0.736665,13.235692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,"1908-Arlington-Pl,-Madison,-WI-53726","1908 Arlington Pl, Madison, WI 53726",1908 Arlington Pl,None,Madison,WI,55,53726,Dane,25.0,...,9,2024,324.710,325.309,-0.599,1.146641,326.455641,510.204082,1.571261,14.151983
1662,"1602-Summit-Ave,-Madison,-WI-53726","1602 Summit Ave, Madison, WI 53726",1602 Summit Ave,None,Madison,WI,55,53726,Dane,25.0,...,10,2024,324.029,325.631,-1.602,0.363051,325.994051,364.990689,1.126414,13.795308
1663,"2415-Chamberlain-Ave,-Madison,-WI-53726","2415 Chamberlain Ave, Madison, WI 53726",2415 Chamberlain Ave,None,Madison,WI,55,53726,Dane,25.0,...,10,2024,324.029,325.631,-1.602,0.363051,325.994051,371.479928,1.146440,13.337475
1664,"2421-Chamberlain-Ave,-Madison,-WI-53726","2421 Chamberlain Ave, Madison, WI 53726",2421 Chamberlain Ave,None,Madison,WI,55,53726,Dane,25.0,...,11,2024,323.745,325.076,-1.331,-0.026289,325.049711,374.313187,1.156198,13.208541
1665,"509-Virginia-Ter,-Madison,-WI-53726","509 Virginia Ter, Madison, WI 53726",509 Virginia Ter,None,Madison,WI,55,53726,Dane,25.0,...,12,2024,323.347,324.710,-1.363,-0.247974,324.462026,259.762901,0.803356,13.521139

In [4]:
preprocessing.property_listings.group_columns(listings_data)
listings_data

                               identification  \
                                           id
0         136-S-Hancock-St,-Madison,-WI-53703
1         304-S-Baldwin-St,-Madison,-WI-53703
2         223-N-Baldwin-St,-Madison,-WI-53703
3        1317-E-Johnson-St,-Madison,-WI-53703
4        1151-E-Johnson-St,-Madison,-WI-53703
...                                       ...
1661     1908-Arlington-Pl,-Madison,-WI-53726
1662       1602-Summit-Ave,-Madison,-WI-53726
1663  2415-Chamberlain-Ave,-Madison,-WI-53726
1664  2421-Chamberlain-Ave,-Madison,-WI-53726
1665      509-Virginia-Ter,-Madison,-WI-53726

                                                                     \
                             formattedAddress          addressLine1
0         136 S Hancock St, Madison, WI 53703      136 S Hancock St
1         304 S Baldwin St, Madison, WI 53703      304 S Baldwin St
2         223 N Baldwin St, Madison, WI 53703      223 N Baldwin St
3        1317 E Johnson St, Madison, WI 53703     1317 E Johnson St
4        1151 E Johnson St, Madison, WI 53703     1151 E Johnson St
...                                       ...                   ...
1661     1908 Arlington Pl, Madison, WI 53726     1908 Arlington Pl
1662       1602 Summit Ave, Madison, WI 53726       1602 Summit Ave
1663  2415 Chamberlain Ave, Madison, WI 53726  2415 Chamberlain Ave
1664  2421 Chamberlain Ave, Madison, WI 53726  2421 Chamberlain Ave
1665      509 Virginia Ter, Madison, WI 53726      509 Virginia Ter

                                    unused identification            unused  \
     addressLine2     city state stateFips        zipCode county countyFips
0            None  Madison    WI        55          53703   Dane       25.0
1            None  Madison    WI        55          53703   Dane       25.0
2            None  Madison    WI        55          53703   Dane       25.0
3            None  Madison    WI        55          53703   Dane       25.0
4            None  Madison    WI        55          53703   Dane       25.0
...           ...      ...   ...       ...            ...    ...        ...
1661         None  Madison    WI        55          53726   Dane       25.0
1662         None  Madison    WI        55          53726   Dane       25.0
1663         None  Madison    WI        55          53726   Dane       25.0
1664         None  Madison    WI        55          53726   Dane       25.0
1665         None  Madison    WI        55          53726   Dane       25.0

      ... auxiliaryPredictionFeatures keyPredictionFeatures  \
      ...                   saleMonth              saleYear
0     ...                          12                  2022
1     ...                           1                  2023
2     ...                           1                  2023
3     ...                           2                  2023
4     ...                           2                  2023
...   ...                         ...                   ...
1661  ...                           9                  2024
1662  ...                          10                  2024
1663  ...                          10                  2024
1664  ...                          11                  2024
1665  ...                          12                  2024

                      unused        keyPredictionFeatures  \
     trueValueHomePriceIndex availableValueHomePriceIndex
0                    294.220                      300.326
1                    292.712                      298.542
2                    292.712                      298.542
3                    293.507                      296.727
4                    293.507                      296.727
...                      ...                          ...
1661                 324.710                      325.309
1662                 324.029                      325.631
1663                 324.029                      325.631
1664                 323.745                      325.076
1665                 323.347                      324.710

                               unused  \
     trueMinusAvailableHomePriceIndex
0                              -6.106
1                              -5.830
2                              -5.830
3                              -3.220
4                              -3.220
...                               ...
1661                           -0.599
1662                           -1.602
1663                           -1.602
1664                           -1.331
1665                           -1.363

                                                                            \
     monthAvgTrueMinusAvailableHomePriceIndex predictedValueHomePriceIndex
0                                   -0.247974                   300.078026
1                                   -0.228921                   298.313079
2                                   -0.228921                   298.313079
3                                    0.273500                   297.000500
4                                    0.273500                   297.000500
...                                       ...                          ...
1661                                 1.146641                   326.455641
1662                                 0.363051                   325.994051
1663                                 0.363051                   325.994051
1664                                -0.026289                   325.049711
1665                                -0.247974                   324.462026

                                                 target
     pricePerSqFt timeNormalizedPricePerSqFt   logPrice
0      291.313559                   0.990122  13.217674
1      322.189922                   1.100706  13.407542
2      240.167919                   0.820492  13.205785
3      320.062451                   1.090476  12.923912
4      216.216216                   0.736665  13.235692
...           ...                        ...        ...
1661   510.204082                   1.571261  14.151983
1662   364.990689                   1.126414  13.795308
1663   371.479928                   1.146440  13.337475
1664   374.313187                   1.156198  13.208541
1665   259.762901                   0.803356  13.521139

[1666 rows x 113 columns]