# HOPUS

HOPUS (**HO**using **P**ricing **U**tilitie**S**) contains a variety of routines used to predict real estate prices.

This notebook highlights what HOPUS can do, namely
- clean the raw data,
- perform exploratory analysis of the data,
- train a variety of models for the prediction of real estate prices, and
- evaluate the performance of these models.

## Technical preliminaries

In [1]:
# Standard imports
import pandas as pd

In [2]:
# We clone the HOPUS repository to have access to all its data and routines
!git clone https://github.com/aremondtiedrez/hopus.git
%cd hopus

Cloning into 'hopus'...
remote: Enumerating objects: 194, done.
remote: Counting objects: 100% (194/194), done.
remote: Compressing objects: 100% (139/139), done.
remote: Total 194 (delta 102), reused 126 (delta 48), pack-reused 0 (from 0)
Receiving objects: 100% (194/194), 733.23 KiB | 10.63 MiB/s, done.
Resolving deltas: 100% (102/102), done.
/content/hopus

In [3]:
# Import requisite modules from HOPUS
import preprocessing

## Data cleaning

In [4]:
hpi = preprocessing.home_price_index.load()
preprocessing.home_price_index.preprocess(hpi)

listings_data = preprocessing.property_listings.load()
listings_data = preprocessing.property_listings.preprocess(listings_data, hpi)

listings_data

                               identification  \
                                           id
0         136-S-Hancock-St,-Madison,-WI-53703
1         304-S-Baldwin-St,-Madison,-WI-53703
2         223-N-Baldwin-St,-Madison,-WI-53703
3        1317-E-Johnson-St,-Madison,-WI-53703
4        1151-E-Johnson-St,-Madison,-WI-53703
...                                       ...
1777     1908-Arlington-Pl,-Madison,-WI-53726
1778       1602-Summit-Ave,-Madison,-WI-53726
1779  2415-Chamberlain-Ave,-Madison,-WI-53726
1780  2421-Chamberlain-Ave,-Madison,-WI-53726
1781      509-Virginia-Ter,-Madison,-WI-53726

                                                                     \
                             formattedAddress          addressLine1
0         136 S Hancock St, Madison, WI 53703      136 S Hancock St
1         304 S Baldwin St, Madison, WI 53703      304 S Baldwin St
2         223 N Baldwin St, Madison, WI 53703      223 N Baldwin St
3        1317 E Johnson St, Madison, WI 53703     1317 E Johnson St
4        1151 E Johnson St, Madison, WI 53703     1151 E Johnson St
...                                       ...                   ...
1777     1908 Arlington Pl, Madison, WI 53726     1908 Arlington Pl
1778       1602 Summit Ave, Madison, WI 53726       1602 Summit Ave
1779  2415 Chamberlain Ave, Madison, WI 53726  2415 Chamberlain Ave
1780  2421 Chamberlain Ave, Madison, WI 53726  2421 Chamberlain Ave
1781      509 Virginia Ter, Madison, WI 53726      509 Virginia Ter

                                    unused identification            unused  \
     addressLine2     city state stateFips        zipCode county countyFips
0            None  Madison    WI        55          53703   Dane       25.0
1            None  Madison    WI        55          53703   Dane       25.0
2            None  Madison    WI        55          53703   Dane       25.0
3            None  Madison    WI        55          53703   Dane       25.0
4            None  Madison    WI        55          53703   Dane       25.0
...           ...      ...   ...       ...            ...    ...        ...
1777         None  Madison    WI        55          53726   Dane       25.0
1778         None  Madison    WI        55          53726   Dane       25.0
1779         None  Madison    WI        55          53726   Dane       25.0
1780         None  Madison    WI        55          53726   Dane       25.0
1781         None  Madison    WI        55          53726   Dane       25.0

      ... predictionFeatures                                     unused  \
      ...      yearBuilt_nan saleMonth saleYear trueValueHomePriceIndex
0     ...              False        12     2022                 294.220
1     ...              False         1     2023                 292.712
2     ...              False         1     2023                 292.712
3     ...              False         2     2023                 293.507
4     ...              False         2     2023                 293.507
...   ...                ...       ...      ...                     ...
1777  ...              False         9     2024                 324.710
1778  ...              False        10     2024                 324.029
1779  ...              False        10     2024                 324.029
1780  ...              False        11     2024                 323.745
1781  ...              False        12     2024                 323.347

               predictionFeatures                           unused  \
     availableValueHomePriceIndex trueMinusAvailableHomePriceIndex
0                         300.326                           -6.106
1                         298.542                           -5.830
2                         298.542                           -5.830
3                         296.727                           -3.220
4                         296.727                           -3.220
...                           ...                              ...
1777                      325.309                           -0.599
1778                      325.631                           -1.602
1779                      325.631                           -1.602
1780                      325.076                           -1.331
1781                      324.710                           -1.363

                                                                            \
     monthAvgTrueMinusAvailableHomePriceIndex predictedValueHomePriceIndex
0                                   -0.247974                   300.078026
1                                   -0.228921                   298.313079
2                                   -0.228921                   298.313079
3                                    0.273500                   297.000500
4                                    0.273500                   297.000500
...                                       ...                          ...
1777                                 1.146641                   326.455641
1778                                 0.363051                   325.994051
1779                                 0.363051                   325.994051
1780                                -0.026289                   325.049711
1781                                -0.247974                   324.462026


     pricePerSqFt timeNormalizedPricePerSqFt
0      291.313559                   0.990122
1      322.189922                   1.100706
2      240.167919                   0.820492
3      320.062451                   1.090476
4      216.216216                   0.736665
...           ...                        ...
1777   510.204082                   1.571261
1778   364.990689                   1.126414
1779   371.479928                   1.146440
1780   374.313187                   1.156198
1781   259.762901                   0.803356

[1782 rows x 117 columns]