This notebook showcases the capabilities of HOPUS.

First we clone the HOPUS repo to have access to all the data and routines therein.

In [ ]:
!git clone https://github.com/aremondtiedrez/hopus.git
%cd hopus

In [2]:
import pandas as pd

In [3]:
data = pd.read_json("./data/data_v1.json")

In [4]:
data

,id,formattedAddress,addressLine1,addressLine2,city,state,stateFips,zipCode,county,countyFips,...,zoning,lastSaleDate,lastSalePrice,features,taxAssessments,propertyTaxes,history,owner,ownerOccupied,hoa
0,"403-W-Washington-Ave,-Madison,-WI-53703","403 W Washington Ave, Madison, WI 53703",403 W Washington Ave,None,Madison,WI,55,53703,Dane,25.0,...,"DR2, HIS-L",2022-11-30T00:00:00.000Z,585000,"{'architectureType': 'Condo / Apartment', 'ext...","{'2024': {'year': 2024, 'value': 585000, 'land...","{'2024': {'year': 2024, 'total': 10273}}","{'2022-11-30': {'event': 'Sale', 'date': '2022...","{'names': ['EL GUAPA LLC'], 'type': 'Organizat...",0.0,None
1,"123-W-Washington-Ave,-Unit-504,-Madison,-WI-53703","123 W Washington Ave, Unit 504, Madison, WI 53703",123 W Washington Ave,Unit 504,Madison,WI,55,53703,Dane,25.0,...,"DC, HIS-L",2022-12-01T00:00:00.000Z,580000,"{'cooling': True, 'coolingType': 'Central', 'e...","{'2024': {'year': 2024, 'value': 614100, 'land...","{'2024': {'year': 2024, 'total': 10519}}","{'2022-12-01': {'event': 'Sale', 'date': '2022...","{'names': ['Richard M Sandrock', 'Ellen K Sand...",1.0,None
2,"615-W-Main-St,-Apt-208,-Madison,-WI-53703","615 W Main St, Apt 208, Madison, WI 53703",615 W Main St,Apt 208,Madison,WI,55,53703,Dane,25.0,...,PD,2022-12-02T00:00:00.000Z,465000,"{'cooling': True, 'coolingType': 'Central', 'e...","{'2023': {'year': 2023, 'value': 424000, 'land...","{'2022': {'year': 2022, 'total': 7346}, '2024'...","{'2022-12-02': {'event': 'Sale', 'date': '2022...","{'names': ['Zachary Henderson', 'Riley Willman...",1.0,{'fee': 476}
3,"618-W-Doty-St,---S2,-Madison,-WI-53703","618 W Doty St, # S2, Madison, WI 53703",618 W Doty St,# S2,Madison,WI,55,53703,Dane,25.0,...,PD,2022-12-02T00:00:00.000Z,465000,{'architectureType': 'Condo / Apartment'},"{'2022': {'year': 2022, 'value': 5000, 'improv...","{'2021': {'year': 2021, 'total': 50}, '2022': ...","{'2022-12-02': {'event': 'Sale', 'date': '2022...","{'names': ['Zachary Henderson', 'Riley Willman...",0.0,None
4,"618-W-Doty-St,---P90,-Madison,-WI-53703","618 W Doty St, # P90, Madison, WI 53703",618 W Doty St,# P90,Madison,WI,55,53703,Dane,25.0,...,PD,2022-12-02T00:00:00.000Z,465000,{'architectureType': 'Condo / Apartment'},"{'2024': {'year': 2024, 'value': 18000, 'land'...","{'2024': {'year': 2024, 'total': 235}}","{'2022-12-02': {'event': 'Sale', 'date': '2022...","{'names': ['Zachary Henderson', 'Riley Willman...",0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2809,"2421-Chamberlain-Ave,-Madison,-WI-53726","2421 Chamberlain Ave, Madison, WI 53726",2421 Chamberlain Ave,None,Madison,WI,55,53726,Dane,25.0,...,TR-C3,2024-11-04T00:00:00.000Z,545000,"{'architectureType': 'Ranch', 'cooling': True,...","{'2024': {'year': 2024, 'value': 554800, 'land...","{'2024': {'year': 2024, 'total': 9738}}","{'2006-06-13': {'event': 'Sale', 'date': '2006...","{'names': ['Grigorios Chrysos', 'Belrina Gkots...",1.0,None
2810,"340-N-Allen-St,-Apt-21,-Madison,-WI-53726","340 N Allen St, Apt 21, Madison, WI 53726",340 N Allen St,Apt 21,Madison,WI,55,53726,Dane,25.0,...,PD,2024-11-12T00:00:00.000Z,250000,"{'cooling': True, 'coolingType': 'Central', 'e...","{'2022': {'year': 2022, 'value': 242000, 'land...","{'2021': {'year': 2021, 'total': 4644}, '2024'...","{'2020-07-02': {'event': 'Sale', 'date': '2020...","{'names': ['DUNSINANE 21 LLC'], 'type': 'Organ...",0.0,{'fee': 493}
2811,"509-Virginia-Ter,-Madison,-WI-53726","509 Virginia Ter, Madison, WI 53726",509 Virginia Ter,None,Madison,WI,55,53726,Dane,25.0,...,TR-C2,2024-12-02T00:00:00.000Z,745000,"{'architectureType': 'Traditional', 'exteriorT...","{'2021': {'year': 2021, 'value': 605100, 'land...","{'2021': {'year': 2021, 'total': 12927}, '2022...","{'2024-12-02': {'event': 'Sale', 'date': '2024...","{'names': ['Shane Petersen', 'Shane B Petersen...",1.0,None
2812,"1915-University-Ave,-Madison,-WI-53726","1915 University Ave, Madison, WI 53726",1915 University Ave,None,Madison,WI,55,53726,Dane,25.0,...,"HIS-UH, TR-U1",2025-03-04T00:00:00.000Z,725000,"{'exteriorType': 'Aluminum / Vinyl Siding', 'f...","{'2023': {'year': 2023, 'value': 664300, 'land...","{'2022': {'year': 2022, 'total': 11775}, '2024...","{'2016-11-01': {'event': 'Sale', 'date': '2016...","{'names': ['1915 UNIVERSITY LLC'], 'type': 'Or...",0.0,None
2813,"336-N-Allen-St,-Madison,-WI-53726","336 N Allen St, Madison, WI 53726",336 N Allen St,None,Madison,WI,55,53726,Dane,25.0,...,PD,2025-03-12T00:00:00.000Z,335000,"{'cooling': True, 'coolingType': 'Central', 'e...","{'2022': {'year': 2022, 'value': 243700, 'land...","{'2021': {'year': 2021, 'total': 4676}, '2024'...","{'2025-03-12': {'event': 'Sale', 'date': '2025...","{'names': ['Kevin James Meagher'], 'type': 'In...",1.0,None